@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-1.toggle {
    transform: rotate(45deg);
  }
  .line-2.toggle {
    transform: translateY(-12px) rotate(-45deg);
  }
  .menu.toggle {
    transform: translateX(0);
  }

  .menu div h1 {
    transform: translateX(100%);
    opacity: 0;
  }
  .menu.toggle div h1:nth-child(1) {
    transform: translateX(100%);
    opacity: 0;
    animation: fadeIn 500ms ease 100ms;
    animation-fill-mode: forwards;
  }
  .menu.toggle div h1:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
    animation: fadeIn 500ms ease 200ms;
    animation-fill-mode: forwards;
  }
  .menu.toggle div h1:nth-child(3) {
    transform: translateX(100%);
    opacity: 0;
    animation: fadeIn 500ms ease 300ms;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
